.login-label {
    font-style: bold;
    color: seagreen;
}

.navbar {
    margin-top: 1em;
    border-top: 1px solid black;
}

.centered {
    width: 50%;
    margin: auto;
    text-align: center;
}

.centered li{
    list-style-type: none;
}

.header {
    font-family: 'Srisakdi', cursive;
    font-size: 2em !important;
    color: Black !important;
    text-align: center;
}

.center-text{
    text-align: center !important;
}

.menu-table {
    border-collapse: collapse;
    width: 80%;
    margin:auto;
}

.menu-table td, .menu-table th {
    border: 1px solid #ddd;
    padding: 0.1em;
}

.menu-table tr:nth-child(even){background-color: #f2f2f2;}

.menu-table tr:hover {background-color: #ddd;}

.menu-table th {
    padding-top: 2px;
    padding-bottom: 2px;
    text-align: left;
    background-color: #abcabc;
    color: white;
}

.menu-table button {
    padding: 0;
    width: 40% !important;
    margin:auto;
}

.currentOrderTable {
    border: 1px solid #ddd;
}
.currentOrderTable td{
    border: 1px solid #ddd;
}

.page-container {
    width: 80% !important;
    margin: auto !important;
}