{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
    <!-- Start of first page: #one -->
    <div data-role="page" id="one">

        <div data-role="header" data-position="fixed" data-theme="e">
            {% include 'navbar.html.twig' %}
        </div><!--end header-->

        <div data-role="content" class="ui-content">
            {% if not is_granted('IS_AUTHENTICATED_FULLY') %}
            <div class="centered center-text">
                <h2>Welcome!</h2>
                <br/>
                <p>Please <a href="/login">login</a> to place an order.</p>
                <p>No Account? Click <a href="/register">here</a> to register.</p>
            </div>
            <br/>
            <br/>
            <div class="centered">
                <div class="ui-bar ui-bar-a" style="height:60px">
                    <a href="/login">Login</a>
                </div>

                <div class="ui-bar ui-bar-a" style="height:60px">
                    <a href="/register">Register</a>
                </div>
            </div>

            {% elseif (is_granted('ROLE_DRIVER') or is_granted('ROLE_MANAGER')) %}
                <h1 class="center-text">Welcome {{ app.user.firstname }} {{ app.user.lastname }}!!</h1>
                <p class="center-text">Click <a href="/menu#orders" data-ajax="false" rel="external">here</a> to view current orders for delivery.</p>

                <br>
                <hr>
                <br>

                <h1 class="center-text">5 Day Weather Forecast</h1>

                <div class="centered" id="forecastDiv">
                    <table class="menu-table weather-table" id="forecastTable">

                    </table>
                </div>

                <br>
                <br>
                <hr>


                <div id="weatherDiv">
                    <table id="weatherTable" class="menu-table">
                        <thead>
                            <th>Date</th>
                            <th>Temperature C</th>
                            <th>Wind Km/h</th>
                            <th>Rain mm</th>
                            <th>Description</th>
                            <th>Icon</th>
                        </thead>
                        <tbody id="weatherTableBody">

                        </tbody>
                    </table>
                </div>

            {% elseif is_granted('ROLE_USER')%}

            <h1>Welcome {{ app.user.firstname }} {{ app.user.lastname }}!!</h1>
            <p>Click <a href="/menu" data-ajax="false">here</a> to view the menu.</p>
            <p>Or click <a href="/menu#orders" data-ajax="false" rel="external">here</a> to view your current orders.</p>


            {% endif %}
        </div><!-- end content -->
    </div><!-- end page one -->

    <div data-role="page" id="about">
        <div data-role="header" data-position="fixed" data-theme="e">
            {% include 'navbar.html.twig' %}
        </div><!--end header-->
        <div class="centered" data-role="content">
            <h1>About Page</h1>
            <p>This website was created as part of Web Software Engineering module of
            Higher Diploma in Science in Computing course in Technolgical University of Dublin,
            Blanchardstown campus.</p>
            <p>It uses a mix of technologies to deliver a responsive, mobile oriented store
            for a pizza shop.</p>
            <p>The backend is written in PHP using the Symfony framework.</p>
            <p>The frontend is a mix of traditional HTML and CSS along with JQuery Javascript library.</p>
        </div>
    </div>

    <script src="js/weatherapi.js"></script>

{% endblock %}

