{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}

    <!--suppress HtmlUnknownTarget, HtmlUnknownTarget -->
    <div data-role="page" id="login">

        <div data-role="header" data-position="fixed" data-theme="e">
            {% include 'navbar.html.twig' %}
        </div><!--end header-->

        <div data-role="content">
            <div class="centered">

                <h2>Order Confirmed!</h2>

                <p>Your order Id is {{ order_id }}.</p>
                <p><a href="/menu" data-ajax="false">Back to Menu.</a></p>
                <p><a href="/menu#orders" data-ajax="false">View your current orders.</a></p>

            </div>

        </div>

    </div>

{% endblock %}
